# Análise de Dados -  Índice de desigualdade de gênero por país

Link: https://www.kaggle.com/datasets/iamsouravbanerjee/gender-inequality-index-dataset?resource=download

Insira o nome do grupo (no máximo 3 integrantes):  
1)  TIAGO PEREIRA DA SILVA - 23012171
2)  VINICIUS MENDES DA CUNHA - 23015801
3)  ENZO CINTO QUATROCHI - 23015904

Coloque abaixo a importação de todas as bibliotecas necessárias:

In [43]:
import pandas as pd
import numpy as np

1) Faça a leitura do arquivo "Gender Inequality Index.csv" como um dataframe

In [44]:
df = pd.read_csv("Gender Inequality Index.csv")

2) Apresente as 10 primeiras linhas do arquivo:

In [45]:
df.head(10)

,ISO3,Country,Continent,Hemisphere,Human Development Groups,UNDP Developing Regions,HDI Rank (2021),GII Rank (2021),Gender Inequality Index (1990),Gender Inequality Index (1991),...,Gender Inequality Index (2012),Gender Inequality Index (2013),Gender Inequality Index (2014),Gender Inequality Index (2015),Gender Inequality Index (2016),Gender Inequality Index (2017),Gender Inequality Index (2018),Gender Inequality Index (2019),Gender Inequality Index (2020),Gender Inequality Index (2021)
0,AFG,Afghanistan,Asia,Northern Hemisphere,Low,SA,180.0,167.0,NaN,NaN,...,0.738,0.728,0.718,0.706,0.692,0.678,0.671,0.665,0.674,0.678
1,AGO,Angola,Africa,Southern Hemisphere,Medium,SSA,148.0,136.0,0.725,0.723,...,0.545,0.540,0.531,0.530,0.529,0.538,0.537,0.537,0.537,0.537
2,ALB,Albania,Europe,Northern Hemisphere,High,ECA,67.0,39.0,NaN,NaN,...,0.235,0.225,0.219,0.204,0.191,0.170,0.164,0.156,0.156,0.144
3,AND,Andorra,Europe,Northern Hemisphere,Very High,NaN,40.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,ARE,United Arab Emirates,Asia,Northern Hemisphere,Very High,AS,26.0,11.0,0.659,0.647,...,0.171,0.161,0.151,0.126,0.118,0.112,0.103,0.056,0.050,0.049
5,ARG,Argentina,America,Southern Hemisphere,Very High,LAC,47.0,69.0,0.442,0.439,...,0.360,0.356,0.351,0.345,0.338,0.328,0.315,0.306,0.293,0.287
6,ARM,Armenia,Asia,Northern Hemisphere,High,ECA,85.0,53.0,0.470,0.468,...,0.327,0.305,0.313,0.309,0.306,0.261,0.260,0.239,0.239,0.216
7,ATG,Antigua and Barbuda,America,Northern Hemisphere,High,LAC,71.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,AUS,Australia,Oceania,Southern Hemisphere,Very High,NaN,5.0,19.0,0.185,0.184,...,0.130,0.123,0.117,0.111,0.101,0.096,0.092,0.080,0.074,0.073
9,AUT,Austria,Europe,Northern Hemisphere,Very High,NaN,25.0,12.0,0.202,0.204,...,0.098,0.086,0.083,0.084,0.082,0.072,0.061,0.054,0.052,0.053

3) Qual o formato do DataFrame? (Ou seja, quantas linhas e quantas colunas ele possui?)

In [46]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 195 entries, 0 to 194
Data columns (total 40 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   ISO3                            195 non-null    object
 1   Country                         195 non-null    object
 2   Continent                       195 non-null    object
 3   Hemisphere                      195 non-null    object
 4   Human Development Groups        191 non-null    object
 5   UNDP Developing Regions         151 non-null    object
 6   HDI Rank (2021)                 191 non-null    float64
 7   GII Rank (2021)                 170 non-null    float64
 8   Gender Inequality Index (1990)  128 non-null    float64
 9   Gender Inequality Index (1991)  128 non-null    float64
 10  Gender Inequality Index (1992)  128 non-null    float64
 11  Gender Inequality Index (1993)  128 non-null    float64
 12  Gender Inequality Index (1994)  128 non-null    float64
 13  Gender Inequality Index (1995)  130 non-null    float64
 14  Gender Inequality Index (1996)  130 non-null    float64
 15  Gender Inequality Index (1997)  130 non-null    float64
 16  Gender Inequality Index (1998)  136 non-null    float64
 17  Gender Inequality Index (1999)  141 non-null    float64
 18  Gender Inequality Index (2000)  144 non-null    float64
 19  Gender Inequality Index (2001)  149 non-null    float64
 20  Gender Inequality Index (2002)  150 non-null    float64
 21  Gender Inequality Index (2003)  153 non-null    float64
 22  Gender Inequality Index (2004)  156 non-null    float64
 23  Gender Inequality Index (2005)  159 non-null    float64
 24  Gender Inequality Index (2006)  162 non-null    float64
 25  Gender Inequality Index (2007)  163 non-null    float64
 26  Gender Inequality Index (2008)  163 non-null    float64
 27  Gender Inequality Index (2009)  163 non-null    float64
 28  Gender Inequality Index (2010)  165 non-null    float64
 29  Gender Inequality Index (2011)  167 non-null    float64
 30  Gender Inequality Index (2012)  167 non-null    float64
 31  Gender Inequality Index (2013)  167 non-null    float64
 32  Gender Inequality Index (2014)  167 non-null    float64
 33  Gender Inequality Index (2015)  168 non-null    float64
 34  Gender Inequality Index (2016)  169 non-null    float64
 35  Gender Inequality Index (2017)  170 non-null    float64
 36  Gender Inequality Index (2018)  170 non-null    float64
 37  Gender Inequality Index (2019)  170 non-null    float64
 38  Gender Inequality Index (2020)  170 non-null    float64
 39  Gender Inequality Index (2021)  170 non-null    float64
dtypes: float64(34), object(6)
memory usage: 61.1+ KB

O dataframe tem o formato de uma matriz, que possui 195 linhas e 40 colunas.

4) Quais são os nomes de todas as colunas do dataframe?

In [47]:
df.columns

Index(['ISO3', 'Country', 'Continent', 'Hemisphere',
       'Human Development Groups', 'UNDP Developing Regions',
       'HDI Rank (2021)', 'GII Rank (2021)', 'Gender Inequality Index (1990)',
       'Gender Inequality Index (1991)', 'Gender Inequality Index (1992)',
       'Gender Inequality Index (1993)', 'Gender Inequality Index (1994)',
       'Gender Inequality Index (1995)', 'Gender Inequality Index (1996)',
       'Gender Inequality Index (1997)', 'Gender Inequality Index (1998)',
       'Gender Inequality Index (1999)', 'Gender Inequality Index (2000)',
       'Gender Inequality Index (2001)', 'Gender Inequality Index (2002)',
       'Gender Inequality Index (2003)', 'Gender Inequality Index (2004)',
       'Gender Inequality Index (2005)', 'Gender Inequality Index (2006)',
       'Gender Inequality Index (2007)', 'Gender Inequality Index (2008)',
       'Gender Inequality Index (2009)', 'Gender Inequality Index (2010)',
       'Gender Inequality Index (2011)', 'Gender Inequality Index (2012)',
       'Gender Inequality Index (2013)', 'Gender Inequality Index (2014)',
       'Gender Inequality Index (2015)', 'Gender Inequality Index (2016)',
       'Gender Inequality Index (2017)', 'Gender Inequality Index (2018)',
       'Gender Inequality Index (2019)', 'Gender Inequality Index (2020)',
       'Gender Inequality Index (2021)'],
      dtype='object')

5) Renomeie as colunas conforme lista abaixo:
* Country -> País
* Continent -> Continente
* Hemisphere -> Hemisfério
* Human Development Groups -> Grupo de Desenvolvimento Humano
* UNDP Developing Regions -> Regiões em desenvolvimento do UNDP
* HDI Rank (2021) -> IDH Rank (2021)
* GII Rank (2021) -> IDG Rank (2021)

In [48]:
df.rename(columns={"Country":"País",
                   "Continent":"Continente",
                   "Hemisphere":"Hemisfério",
                   "Human Development Groups":"Grupo de Desenvolvimento Humano",
                   "UNDP Developing Regions":"Regiões em desenvolvimento do UNDP",
                   "HDI Rank (2021)":"IDH Rank (2021)",
                   "GII Rank (2021)":"IDG Rank (2021)",}, inplace=True)

6) Acesse o registro da linha de indice 123.

In [49]:
df.iloc[123]

ISO3                                                  MWI
País                                               Malawi
Continente                                         Africa
Hemisfério                            Southern Hemisphere
Grupo de Desenvolvimento Humano                       Low
Regiões em desenvolvimento do UNDP                    SSA
IDH Rank (2021)                                     169.0
IDG Rank (2021)                                     142.0
Gender Inequality Index (1990)                      0.718
Gender Inequality Index (1991)                      0.717
Gender Inequality Index (1992)                      0.714
Gender Inequality Index (1993)                      0.711
Gender Inequality Index (1994)                       0.71
Gender Inequality Index (1995)                      0.708
Gender Inequality Index (1996)                      0.706
Gender Inequality Index (1997)                      0.705
Gender Inequality Index (1998)                      0.704
Gender Inequality Index (1999)                      0.687
Gender Inequality Index (2000)                      0.681
Gender Inequality Index (2001)                      0.679
Gender Inequality Index (2002)                      0.677
Gender Inequality Index (2003)                      0.674
Gender Inequality Index (2004)                      0.653
Gender Inequality Index (2005)                      0.651
Gender Inequality Index (2006)                      0.643
Gender Inequality Index (2007)                      0.637
Gender Inequality Index (2008)                       0.63
Gender Inequality Index (2009)                      0.602
Gender Inequality Index (2010)                      0.597
Gender Inequality Index (2011)                      0.589
Gender Inequality Index (2012)                      0.585
Gender Inequality Index (2013)                       0.58
Gender Inequality Index (2014)                      0.589
Gender Inequality Index (2015)                      0.585
Gender Inequality Index (2016)                       0.58
Gender Inequality Index (2017)                      0.576
Gender Inequality Index (2018)                      0.574
Gender Inequality Index (2019)                      0.555
Gender Inequality Index (2020)                      0.555
Gender Inequality Index (2021)                      0.554
Name: 123, dtype: object

7) Acesse as informações da coluna "IDH Rank (2021)"

In [50]:
df["IDH Rank (2021)"]

0      180.0
1      148.0
2       67.0
3       40.0
4       26.0
       ...
190    111.0
191    183.0
192    109.0
193    154.0
194    146.0
Name: IDH Rank (2021), Length: 195, dtype: float64

8) Encontre as informações referentes ao Brasil (Dica: O nome do país está como "Brazil")

In [51]:
df[df["País"] == "Brazil"]

,ISO3,País,Continente,Hemisfério,Grupo de Desenvolvimento Humano,Regiões em desenvolvimento do UNDP,IDH Rank (2021),IDG Rank (2021),Gender Inequality Index (1990),Gender Inequality Index (1991),...,Gender Inequality Index (2012),Gender Inequality Index (2013),Gender Inequality Index (2014),Gender Inequality Index (2015),Gender Inequality Index (2016),Gender Inequality Index (2017),Gender Inequality Index (2018),Gender Inequality Index (2019),Gender Inequality Index (2020),Gender Inequality Index (2021)
23,BRA,Brazil,America,Southern Hemisphere,High,LAC,87.0,94.0,0.552,0.549,...,0.444,0.444,0.44,0.437,0.431,0.421,0.401,0.395,0.395,0.39

9) Transforme o Nome do País como Index do Dataframe. Em seguida, remova a coluna País.

In [52]:
df['index'] = df['País']
df.set_index('index', inplace=True)
df.drop("País", axis=1, inplace=True)
df.head()

,ISO3,Continente,Hemisfério,Grupo de Desenvolvimento Humano,Regiões em desenvolvimento do UNDP,IDH Rank (2021),IDG Rank (2021),Gender Inequality Index (1990),Gender Inequality Index (1991),Gender Inequality Index (1992),...,Gender Inequality Index (2012),Gender Inequality Index (2013),Gender Inequality Index (2014),Gender Inequality Index (2015),Gender Inequality Index (2016),Gender Inequality Index (2017),Gender Inequality Index (2018),Gender Inequality Index (2019),Gender Inequality Index (2020),Gender Inequality Index (2021)
index,,,,,,,,,,,,,,,,,,,,,
Afghanistan,AFG,Asia,Northern Hemisphere,Low,SA,180.0,167.0,NaN,NaN,NaN,...,0.738,0.728,0.718,0.706,0.692,0.678,0.671,0.665,0.674,0.678
Angola,AGO,Africa,Southern Hemisphere,Medium,SSA,148.0,136.0,0.725,0.723,0.721,...,0.545,0.540,0.531,0.530,0.529,0.538,0.537,0.537,0.537,0.537
Albania,ALB,Europe,Northern Hemisphere,High,ECA,67.0,39.0,NaN,NaN,NaN,...,0.235,0.225,0.219,0.204,0.191,0.170,0.164,0.156,0.156,0.144
Andorra,AND,Europe,Northern Hemisphere,Very High,NaN,40.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
United Arab Emirates,ARE,Asia,Northern Hemisphere,Very High,AS,26.0,11.0,0.659,0.647,0.640,...,0.171,0.161,0.151,0.126,0.118,0.112,0.103,0.056,0.050,0.049

10) Acesse as informações da Argentina e do Brasil em um único acesso.

In [53]:
df.loc[["Brazil", "Argentina"]]

,ISO3,Continente,Hemisfério,Grupo de Desenvolvimento Humano,Regiões em desenvolvimento do UNDP,IDH Rank (2021),IDG Rank (2021),Gender Inequality Index (1990),Gender Inequality Index (1991),Gender Inequality Index (1992),...,Gender Inequality Index (2012),Gender Inequality Index (2013),Gender Inequality Index (2014),Gender Inequality Index (2015),Gender Inequality Index (2016),Gender Inequality Index (2017),Gender Inequality Index (2018),Gender Inequality Index (2019),Gender Inequality Index (2020),Gender Inequality Index (2021)
index,,,,,,,,,,,,,,,,,,,,,
Brazil,BRA,America,Southern Hemisphere,High,LAC,87.0,94.0,0.552,0.549,0.545,...,0.444,0.444,0.440,0.437,0.431,0.421,0.401,0.395,0.395,0.390
Argentina,ARG,America,Southern Hemisphere,Very High,LAC,47.0,69.0,0.442,0.439,0.436,...,0.360,0.356,0.351,0.345,0.338,0.328,0.315,0.306,0.293,0.287

11) Quais os diferentes valores (valores únicos) que aparecem nas colunas Continente, Hemisfério, Grupo de Desenvolvimento Humano e Regiões em desenvolvimento do UNDP

In [54]:
df["Continente"].unique()

array(['Asia', 'Africa', 'Europe', 'America', 'Oceania'], dtype=object)

In [55]:
df["Regiões em desenvolvimento do UNDP"].unique()

array(['SA', 'SSA', 'ECA', nan, 'AS', 'LAC', 'EAP'], dtype=object)

In [56]:
df["Grupo de Desenvolvimento Humano"].unique()

array(['Low', 'Medium', 'High', 'Very High', nan], dtype=object)

In [57]:
df["Hemisfério"].unique()

array(['Northern Hemisphere', 'Southern Hemisphere'], dtype=object)

12) Altere todos os "Northern Hemisphere" por "Norte" e todos os "Southern Hemisphere" por "Sul"

In [58]:
df["Hemisfério"] = df["Hemisfério"].replace({
    "Northern Hemisphere": "Norte",
    "Southern Hemisphere": "Sul",
})

df["Hemisfério"]

index
Afghanistan             Norte
Angola                    Sul
Albania                 Norte
Andorra                 Norte
United Arab Emirates    Norte
                        ...
Samoa                     Sul
Yemen                   Norte
South Africa              Sul
Zambia                    Sul
Zimbabwe                  Sul
Name: Hemisfério, Length: 195, dtype: object

13) Faça a atualização de todos os continentes para o português. Utilize um dicionário com a função replace.

14) Verifique quantos e quais são os registros que contém valor nulo na coluna "Grupo de Desenvolvimento Humano"

In [59]:
df[df["Grupo de Desenvolvimento Humano"].isnull()]

,ISO3,Continente,Hemisfério,Grupo de Desenvolvimento Humano,Regiões em desenvolvimento do UNDP,IDH Rank (2021),IDG Rank (2021),Gender Inequality Index (1990),Gender Inequality Index (1991),Gender Inequality Index (1992),...,Gender Inequality Index (2012),Gender Inequality Index (2013),Gender Inequality Index (2014),Gender Inequality Index (2015),Gender Inequality Index (2016),Gender Inequality Index (2017),Gender Inequality Index (2018),Gender Inequality Index (2019),Gender Inequality Index (2020),Gender Inequality Index (2021)
index,,,,,,,,,,,,,,,,,,,,,
Monaco,MCO,Europe,Norte,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Nauru,NRU,Oceania,Sul,NaN,EAP,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
North Korea,PRK,Asia,Norte,NaN,EAP,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Somalia,SOM,Africa,Norte,NaN,AS,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

A coluna possui 4 valores nulos em Monaco, Nauru , Coreia do Norte e Somalia.

15) Remova os registros selecionados na questão anterior.

In [60]:
df = df[df["Grupo de Desenvolvimento Humano"].notnull()]

16) O dataset ainda possuí valores nulos?

In [61]:
df.isnull().sum()

ISO3                                   0
Continente                             0
Hemisfério                             0
Grupo de Desenvolvimento Humano        0
Regiões em desenvolvimento do UNDP    43
IDH Rank (2021)                        0
IDG Rank (2021)                       21
Gender Inequality Index (1990)        63
Gender Inequality Index (1991)        63
Gender Inequality Index (1992)        63
Gender Inequality Index (1993)        63
Gender Inequality Index (1994)        63
Gender Inequality Index (1995)        61
Gender Inequality Index (1996)        61
Gender Inequality Index (1997)        61
Gender Inequality Index (1998)        55
Gender Inequality Index (1999)        50
Gender Inequality Index (2000)        47
Gender Inequality Index (2001)        42
Gender Inequality Index (2002)        41
Gender Inequality Index (2003)        38
Gender Inequality Index (2004)        35
Gender Inequality Index (2005)        32
Gender Inequality Index (2006)        29
Gender Inequality Index (2007)        28
Gender Inequality Index (2008)        28
Gender Inequality Index (2009)        28
Gender Inequality Index (2010)        26
Gender Inequality Index (2011)        24
Gender Inequality Index (2012)        24
Gender Inequality Index (2013)        24
Gender Inequality Index (2014)        24
Gender Inequality Index (2015)        23
Gender Inequality Index (2016)        22
Gender Inequality Index (2017)        21
Gender Inequality Index (2018)        21
Gender Inequality Index (2019)        21
Gender Inequality Index (2020)        21
Gender Inequality Index (2021)        21
dtype: int64

Sim, o dataset ainda possui diversos valores nulos.

17) Ordene os valores pela coluna "Gender Inequality Index (2021)" e responda: quem são os top 5 países nesse ranking? (Ou seja, os países que possuem a menor desigualdade)

In [62]:
df["Gender Inequality Index (2021)"].sort_values(ascending= True)

index
Denmark            0.013
Norway             0.016
Switzerland        0.018
Sweden             0.023
Netherlands        0.025
                   ...
Solomon Islands      NaN
San Marino           NaN
Seychelles           NaN
Tuvalu               NaN
Vanuatu              NaN
Name: Gender Inequality Index (2021), Length: 191, dtype: float64

Os países com menor desigualdade são: Dinamarca, Finlândia, Suíça e Países Baixos.

18) E os cinco últimos colocados, quais seriam? Desconsidere os valores Nulos. Ou seja, os últimos colocados que de fato foram calculados.

In [63]:
df["Gender Inequality Index (2021)"].sort_values(ascending= False)

index
Yemen                       0.820
Papua New Guinea            0.725
Nigeria                     0.680
Afghanistan                 0.678
Central African Republic    0.672
                            ...
Solomon Islands               NaN
San Marino                    NaN
Seychelles                    NaN
Tuvalu                        NaN
Vanuatu                       NaN
Name: Gender Inequality Index (2021), Length: 191, dtype: float64

Os países com maior desigualdade são: Yemen, Papua Nova Guiné, Nigéria, Afeganistão e Republica Central Africana.

19) Apresente a média de Gender Inequality Index (2021)  dos países da Região em desenvolvimento do UNDP - LAC (Latin America and the Caribbean)

In [64]:
lac = df[df["Regiões em desenvolvimento do UNDP"] == "LAC"]
lac["Gender Inequality Index (2021)"].mean()

np.float64(0.37751724137931036)

20) Apresente a média de Gender Inequality Index (2021) para cada Região em desenvolvimento do UNDP (utilize o comando group by)

In [66]:
df.groupby("Regiões em desenvolvimento do UNDP")["Gender Inequality Index (2021)"].mean()

Regiões em desenvolvimento do UNDP
AS     0.382235
EAP    0.378294
ECA    0.203235
LAC    0.377517
SA     0.476556
SSA    0.552452
Name: Gender Inequality Index (2021), dtype: float64

21) Qual o nome do país com o menor índice de desigualdade no ano de 2021 por continente?

22) Verifique a posição do IDH Rank (2021) dos países que você obteve como resposta no exercício anterior.

23) Existe uma correlação entre o 'IDH Rank (2021)' e o 'IDG Rank (2021)'? Interprete o resultado.

24) Aplique o cálculo da distância interquartílica para determinar se existem valores outliers na coluna "Gender Inequality Index (2021)" Lembre-se que o cálculo da distância interquartílica é dado por: 

IQR = q3 - q1

Limite_inferior = q1 - 1.5*IQR

Limite_superior = q3 + 1.5*IQR

25) Faça o gráfico bloxplot da coluna Gender Inequality Index (2021) e verifique a resposta do exercício anterior.

26) Faça o histograma para "Gender Inequality Index (2021)" e responda: os dados estão distribuidos no formato da distruição normal?

27) Entre os anos de 1990 e 2021, qual foi o país que mais evoluí no índice? Considere apenas a listagem dos 128 países disponíveis em 1990.

28) Faça um gráfico de linha que apresente duas séries:

    -A primeira representa a  evolução do Brasil no período de 1990 a 2021
    -A segunda série representa a média do indice dos paises da LAC.
    
    Eixo X - Anos
    Eixo Y - Índice.

29) Escolha um país a sua escolha e faça um gráfico de linha para apresentar a evolução do índice (Similar ao Brasil no exercício anterior). A diferença que desta vez os dados deverão estar rotulados. Dica: Utilize a função Annotate.

30) Faça um gráfico de barras para indicar a quantidade de países em cada continente que contém classificado grupo de desenvolvimento Very High.

31) Faça um gráfico de pizza para representar a quantidade de países em cada hemisfério.

32) Faça um gráfico de dispersão onde o eixo X representa o IDH Rank, o eixo Y representa o IDG Rank e os marcadores representarão os continentes dos países. Escolha uma cor e um marcador diferente para cada continente.

33) Faça uma análise dos dados e gere um gráfico a sua escolha.

34) Faça uma análise dos dados e gere um gráfico a sua escolha.

35) Crie um arquivo .csv para salvar as informações dos países da Ásia em um arquivo separado. 
A primeira linha do arquivo deverá conter o nome de todas as colunas. 
As colunas presente no arquivo deverão ser: Nome, ISO3,Continente,Hemisfério,Grupo de Desenvolvimento Humano,Regiões em desenvolvimento do UNDP,IDH Rank (2021),IDG Rank (2021)